:root{
    --blueBlockHeight: 400px;
}

body{
    padding: 0;
    margin: 0;
}

#mainText{
    font-size: 330%;
    text-align: center;
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#content{
    height: auto;
    position: relative;
}

#backgroundImgBlock{
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#backgroundImgBlock img{
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

#blueBlock{
    position: relative;
    background-color: #77d0df;
    height: var(--blueBlockHeight);
    display: block;
    top: -75px;
}

#youtubeIcon:hover{
    cursor: pointer;
    transform-origin: center;
    animation: scale 0.5s forwards;
}

#twitterIcon:hover{
    cursor: pointer;
    transform-origin: center;
    animation: scale 0.5s forwards;
}

#facebookIcon:hover{
    cursor: pointer;
    transform-origin: center;
    animation: scale 0.5s forwards;
}

@keyframes scale {
    to{
        transform: scale(1.5);
    }
}

#loadingCircle {
    display: inline-block;
    width: 80px;
    height: 80px;
}

#loadingCircle:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 8px;
    border-radius: 50%;
    border: 4px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loadingCircle 2s linear infinite;
}

@keyframes loadingCircle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}